{% extends 'base.html' %}

{% block body %}
<h1 class="text-center" style="margin-top: 110px">BS Computer Sciences</h1>
        <section class="content-block content-1-8">
            <div class="container">
                <ul class="nav nav-tabs text-center" role="tablist" id="myTab">
                    <li class="active">
                        <a href="#tab1" role="tab" data-toggle="tab">Semester-1</a>
                    </li>
                    <li>
		</li>
                    <li>
                        <a href="#tab3" role="tab" data-toggle="tab">Semester-2</a>
                    </li>
                    <li>
                        <a href="#tab4" role="tab" data-toggle="tab">Semester-3</a>
                    </li>
                    <li>
                        <a href="#tab5" role="tab" data-toggle="tab">Semester-4</a>
                    </li>
                    <li>
                        <a href="#tab6" role="tab" data-toggle="tab">Semester-5</a>
                    </li>
                    <li>
                        <a href="#tab7" role="tab" data-toggle="tab">Semester-6</a>
                    </li>
                    <li>
                        <a href="#tab8" role="tab" data-toggle="tab">Semester-7</a>
                    </li>
                    <li>
                        <a href="#tab9" role="tab" data-toggle="tab">Semester-8</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Course Code</th>
                                            <th>Course Name</th>
                                            <th>Credit Hours</th>
                                            <th>Pre Req.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>EE101</td>
                                            <td>Basic Electronics</td>
                                            <td>3+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
                                            <td>CS200</td>
                                            <td>Object Oriented Programming</td>
                                            <td>3+1</td>
                                            <td>CS106</td>
                                        </tr>
                                        <tr>
                                            <td>SE317</td>
                                            <td>Software Design & Architecture</td>
                                            <td>3+0</td>
                                            <td>SE251</td>
                                        </tr>
                                        <tr>
                                            <td>SE318</td>
                                            <td>Formal Methods in Software Engineering</td>
                                            <td>3+0</td>
                                            <td>MT201</td>
                                        </tr>
                                        <tr>
                                            <td>SExxx</td>
                                            <td>Tech. Elective – I</td>
                                            <td>3+0</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>SE321</td>
                                            <td>Software Quality Engineering</td>
                                            <td>3+0</td>
                                            <td>SE253</td>
                                        </tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /#tab1 -->
                    <div class="tab-pane fade" id="tab2">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Course Code</th>
                                            <th>Course Name</th>
                                            <th>Credit Hours</th>
                                            <th>Pre Req.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>SE306</td>
                                            <td>Data Communication andComputer Networks</td>
                                            <td>3+0</td>
                                            <td>CS100</td>
                                        </tr>
                                        <tr>
                                            <td>xxxx</td>
                                            <td>SE Application Domain Elective – II</td>
                                            <td>3+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
                                            <td>SE317</td>
                                            <td>Software Design & Architecture</td>
                                            <td>3+0</td>
                                            <td>SE251</td>
                                        </tr>
                                        <tr>
                                            <td>SE318</td>
                                            <td>Formal Methods in Software Engineering</td>
                                            <td>3+0</td>
                                            <td>MT201</td>
                                        </tr>
                                        <tr>
                                            <td>SExxx</td>
                                            <td>Tech. Elective – I</td>
                                            <td>3+0</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>SE321</td>
                                            <td>Software Quality Engineering</td>
                                            <td>3+0</td>
                                            <td>SE253</td>
                                        </tr>
                                        <tr>
                                            <td>SE494</td>
                                            <td>Industrial Training Internship (During semester break or Summer Semester)</td>
                                            <td>2+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /#tab2 -->
                    <div class="tab-pane fade" id="tab3">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Course Code</th>
                                            <th>Course Name</th>
                                            <th>Credit Hours</th>
                                            <th>Pre Req.</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        <tr>
                                            <td>SE306</td>
                                            <td>Data Communication andComputer Networks</td>
                                            <td>3+0</td>
                                            <td>CS100</td>
                                        </tr>
                                        <tr>
                                            <td>xxxx</td>
                                            <td>SE Application Domain Elective – II</td>
                                            <td>3+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
                                            <td>SE317</td>
                                            <td>Software Design & Architecture</td>
                                            <td>3+0</td>
                                            <td>SE251</td>
                                        </tr>
                                        <tr>
                                            <td>SE318</td>
                                            <td>Formal Methods in Software Engineering</td>
                                            <td>3+0</td>
                                            <td>MT201</td>
                                        </tr>
                                        <tr>
                                            <td>SExxx</td>
                                            <td>Tech. Elective – I</td>
                                            <td>3+0</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>SE321</td>
                                            <td>Software Quality Engineering</td>
                                            <td>3+0</td>
                                            <td>SE253</td>
                                        </tr>
                                        <tr>
                                            <td>SE494</td>
                                            <td>Industrial Training Internship (During semester break or Summer Semester)</td>
                                            <td>2+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /#tab3 -->
                    <div class="tab-pane fade" id="tab4">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Course Code</th>
                                            <th>Course Name</th>
                                            <th>Credit Hours</th>
                                            <th>Pre Req.</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        <tr>
                                            <td>SE306</td>
                                            <td>Data Communication andComputer Networks</td>
                                            <td>3+0</td>
                                            <td>CS100</td>
                                        </tr>
                                        <tr>
                                            <td>xxxx</td>
                                            <td>SE Application Domain Elective – II</td>
                                            <td>3+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
                                            <td>SE317</td>
                                            <td>Software Design & Architecture</td>
                                            <td>3+0</td>
                                            <td>SE251</td>
                                        </tr>
                                        <tr>
                                            <td>SE318</td>
                                            <td>Formal Methods in Software Engineering</td>
                                            <td>3+0</td>
                                            <td>MT201</td>
                                        </tr>
                                        <tr>
                                            <td>SExxx</td>
                                            <td>Tech. Elective – I</td>
                                            <td>3+0</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>SE321</td>
                                            <td>Software Quality Engineering</td>
                                            <td>3+0</td>
                                            <td>SE253</td>
                                        </tr>
                                        <tr>
                                            <td>SE494</td>
                                            <td>Industrial Training Internship (During semester break or Summer Semester)</td>
                                            <td>2+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /#tab4 -->
                    <div class="tab-pane fade" id="tab5">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Course Code</th>
                                            <th>Course Name</th>
                                            <th>Credit Hours</th>
                                            <th>Pre Req.</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        <tr>
                                            <td>SE306</td>
                                            <td>Data Communication andComputer Networks</td>
                                            <td>3+0</td>
                                            <td>CS100</td>
                                        </tr>
                                        <tr>
                                            <td>xxxx</td>
                                            <td>SE Application Domain Elective – II</td>
                                            <td>3+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
                                            <td>SE317</td>
                                            <td>Software Design & Architecture</td>
                                            <td>3+0</td>
                                            <td>SE251</td>
                                        </tr>
                                        <tr>
                                            <td>SE318</td>
                                            <td>Formal Methods in Software Engineering</td>
                                            <td>3+0</td>
                                            <td>MT201</td>
                                        </tr>
                                        <tr>
                                            <td>SExxx</td>
                                            <td>Tech. Elective – I</td>
                                            <td>3+0</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>SE321</td>
                                            <td>Software Quality Engineering</td>
                                            <td>3+0</td>
                                            <td>SE253</td>
                                        </tr>
                                        <tr>
                                            <td>SE494</td>
                                            <td>Industrial Training Internship (During semester break or Summer Semester)</td>
                                            <td>2+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /#tab5 -->
                    <div class="tab-pane fade" id="tab6">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Course Code</th>
                                            <th>Course Name</th>
                                            <th>Credit Hours</th>
                                            <th>Pre Req.</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        <tr>
                                            <td>SE306</td>
                                            <td>Data Communication andComputer Networks</td>
                                            <td>3+0</td>
                                            <td>CS100</td>
                                        </tr>
                                        <tr>
                                            <td>xxxx</td>
                                            <td>SE Application Domain Elective – II</td>
                                            <td>3+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
                                            <td>SE317</td>
                                            <td>Software Design & Architecture</td>
                                            <td>3+0</td>
                                            <td>SE251</td>
                                        </tr>
                                        <tr>
                                            <td>SE318</td>
                                            <td>Formal Methods in Software Engineering</td>
                                            <td>3+0</td>
                                            <td>MT201</td>
                                        </tr>
                                        <tr>
                                            <td>SExxx</td>
                                            <td>Tech. Elective – I</td>
                                            <td>3+0</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>SE321</td>
                                            <td>Software Quality Engineering</td>
                                            <td>3+0</td>
                                            <td>SE253</td>
                                        </tr>
                                        <tr>
                                            <td>SE494</td>
                                            <td>Industrial Training Internship (During semester break or Summer Semester)</td>
                                            <td>2+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /#tab6 -->
                    <div class="tab-pane fade" id="tab7">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Course Code</th>
                                            <th>Course Name</th>
                                            <th>Credit Hours</th>
                                            <th>Pre Req.</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        <tr>
                                            <td>SE306</td>
                                            <td>Data Communication andComputer Networks</td>
                                            <td>3+0</td>
                                            <td>CS100</td>
                                        </tr>
                                        <tr>
                                            <td>xxxx</td>
                                            <td>SE Application Domain Elective – II</td>
                                            <td>3+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
                                            <td>SE317</td>
                                            <td>Software Design & Architecture</td>
                                            <td>3+0</td>
                                            <td>SE251</td>
                                        </tr>
                                        <tr>
                                            <td>SE318</td>
                                            <td>Formal Methods in Software Engineering</td>
                                            <td>3+0</td>
                                            <td>MT201</td>
                                        </tr>
                                        <tr>
                                            <td>SExxx</td>
                                            <td>Tech. Elective – I</td>
                                            <td>3+0</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>SE321</td>
                                            <td>Software Quality Engineering</td>
                                            <td>3+0</td>
                                            <td>SE253</td>
                                        </tr>
                                        <tr>
                                            <td>SE494</td>
                                            <td>Industrial Training Internship (During semester break or Summer Semester)</td>
                                            <td>2+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /#tab7 -->
                    <div class="tab-pane fade" id="tab8">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Course Code</th>
                                            <th>Course Name</th>
                                            <th>Credit Hours</th>
                                            <th>Pre Req.</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        <tr>
                                            <td>SE306</td>
                                            <td>Data Communication andComputer Networks</td>
                                            <td>3+0</td>
                                            <td>CS100</td>
                                        </tr>
                                        <tr>
                                            <td>xxxx</td>
                                            <td>SE Application Domain Elective – II</td>
                                            <td>3+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
                                            <td>SE317</td>
                                            <td>Software Design & Architecture</td>
                                            <td>3+0</td>
                                            <td>SE251</td>
                                        </tr>
                                        <tr>
                                            <td>SE318</td>
                                            <td>Formal Methods in Software Engineering</td>
                                            <td>3+0</td>
                                            <td>MT201</td>
                                        </tr>
                                        <tr>
                                            <td>SExxx</td>
                                            <td>Tech. Elective – I</td>
                                            <td>3+0</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>SE321</td>
                                            <td>Software Quality Engineering</td>
                                            <td>3+0</td>
                                            <td>SE253</td>
                                        </tr>
                                        <tr>
                                            <td>SE494</td>
                                            <td>Industrial Training Internship (During semester break or Summer Semester)</td>
                                            <td>2+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /#tab8 -->
                    <div class="tab-pane fade" id="tab9">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Course Code</th>
                                            <th>Course Name</th>
                                            <th>Credit Hours</th>
                                            <th>Pre Req.</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        <tr>
                                            <td>SE306</td>
                                            <td>Data Communication andComputer Networks</td>
                                            <td>3+0</td>
                                            <td>CS100</td>
                                        </tr>
                                        <tr>
                                            <td>xxxx</td>
                                            <td>SE Application Domain Elective – II</td>
                                            <td>3+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
                                            <td>SE317</td>
                                            <td>Software Design & Architecture</td>
                                            <td>3+0</td>
                                            <td>SE251</td>
                                        </tr>
                                        <tr>
                                            <td>SE318</td>
                                            <td>Formal Methods in Software Engineering</td>
                                            <td>3+0</td>
                                            <td>MT201</td>
                                        </tr>
                                        <tr>
                                            <td>SExxx</td>
                                            <td>Tech. Elective – I</td>
                                            <td>3+0</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>SE321</td>
                                            <td>Software Quality Engineering</td>
                                            <td>3+0</td>
                                            <td>SE253</td>
                                        </tr>
                                        <tr>
                                            <td>SE494</td>
                                            <td>Industrial Training Internship (During semester break or Summer Semester)</td>
                                            <td>2+0</td>
                                            <td>None</td>
                                        </tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                        <tr>
</tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                    <!-- /#tab9 -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.container -->
        </section>
{% endblock %}