{% extends 'base.html' %}

{% block body %}


<div class="team-section padding80">
    <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
                <div class="sec-title">
                    <h2>FACULTY MEMBERS</h2>
                    <h3> The small element is used to create a lighter, secondary text in any heading:</h3>
                </div>
                <div class="divider-line text-center"></div>
            </div>
        </div>
        <div class="row text-center">
            {%for staff in object_list%}
                {% if staff.department == "electrical"%}
              <div class="col-md-3">
                <div class="team-box">
                <div class="team-img">
                   <center> <img src="{{staff.profile.url}}"></center>
                </div>
                <div class="team-title">
                    <h3>{{staff.name}}</h3>

                    <p>{{staff.qualification}}</p>
                </div>
            </div>
            </div>
            {% endif %}
            {%endfor%}
        </div>
    </div>
</div>

{% endblock %}
