{% extends 'base.html' %}

{% block body %}


<!-- Event -->
<section style="margin-top:50px;" class="content-block team-1 team-1-1">
		<section class="portfolio1" data-pgc="portfolio-1" id="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1 style="color:black;" class="section-title">Events</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="portfolio-filter"></div><!-- /.portfolioFilter -->
						<div class="portfolio-items1" style="position: relative; height: 855px;">
                            {% for event in event_list %}
							<div class="single-item web-design motion-video" style="width: 485px; height: 485px; position: absolute; left: 0px; top: 0px;">
								<div class="project-content">
									<img class="img-responsive" src="{{event.picture.url}}">
									<div class="project-overflow center-vertically text-center">
										<strong>{{event.title}}</strong>
										<p>{{event.description}}</p>
										<ul class="list-inline">
											<li><i class="fa fa-heart"></i></li>
											<li><i class="fa fa-link"></i></li>
											<li><i class="fa fa-camera"></i></li>
										</ul>
									</div>
								</div>
							</div>
						{%endfor%}


						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
<!-- End Event -->
{% block event %}

{% endblock %}


{% endblock %}