{% extends 'base.html' %}

{% block body %}
<style>
    .footer1{
    margin-top:70px;
    }
</style>
<div class="container" style="margin-top: 60px;">
    <div class="row">
<div class="col-md-12" id="static-content">
				<h1 style="background:#006666;color:white;">&nbsp;University Vision</h1>
				<p>Abasyn University will have a transformative impact on society through continual innovation in education, research, creativity, and entrepreneurship.</p>
				<br>
				<h2 style="background:#006666;color:white;">&nbsp;Program Structure</h2><br>
                <ol>
		<li>Build a nationwide knowledge community through quality education, relevance, critical thinking, creativity, research, and high sense of social responsibility.</li>
		<li>Create a transformative educational experience for students focused on deep disciplinary knowledge, problem solving, leadership, communication, and interpersonal skills, and personal health and well-being.</li>
		<li>Impact society in a transformative way - regionally, nationally and globally - by engaging with partners outside the traditional borders of the university campus.</li>
	        </ol>


			</div>
</div>
</div>
{% endblock %}